/**
 * Chrome Navbar Bug Fix
 */
[data-uk-sticky].uk-active {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
/*___*/

/**
 * Text Uppercase
 */
.text-uppercase {
  text-transform: uppercase;
}
/*___*/

/**
 * Set minimum content height for when a page is too short
 */
.magic-layout {
  min-height: 50vh;
}
/*___*/
