/* --- Drupal Pager Object --- */

// Standalone Drupal Pager styling


/*
**																			**
** Pager Variables Declaration -- use as is or transfer to global vars file **
**																			**
*/
$pager-font-size:							1rem;
$pager-margin-left:							5px;
$pager-padding-vertical:					3px;
$pager-padding-horizontal:					5px;
$pager-line-height:							20px;
$pager-background:							$primary-400;
$pager-color:								$base-300;
$pager-hover-background:					$primary-500;
$pager-hover-color:							$base-300;
$pager-onclick-background:					$primary-700;
$pager-onclick-color:						$base-500;
$pager-current-background:					$primary-700;
$pager-current-color:						$base-300;
$pager-disabled-background:					$base-800;
$pager-disabled-color:						$base-500;
// conditional custom vars below... use and change as needed
$pager-border-radius:						2px;
$pager-box-shadow:							0px 2px 9px -2px rgba(0, 0, 0, 0.4);
$pager-hover-box-shadow:					0px 2px 9px -2px rgba(0, 0, 0, 0.9);
$pager-hover-scale:							scale(1.03);
$pager-active-box-shadow:					inset 0px 2px 9px -2px rgba(0, 0, 0, 0.4);
$pager-active-scale:						scale(0.98);

// vars dec end
/////////////////////////////

ul.pager, ul.pager__items {
	// remove default list style, center pagination by default, 
	// remove whitespace between children when using inline block
	// the first ul is here
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 0.001px;
	&:before,
	&:after { // micro clearfix
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
	// Items
	// reset whitespace hack, remove bottom container gap
	> li {
		display: inline-block;
		font-size: $pager-font-size;
		vertical-align: top;
		&:nth-child(n+2) {
			margin-left: $pager-margin-left;
		}
		a,
		//span,
		&.pager-current {
			display: inline-block;
			min-width: $pager-line-height + (2 * $pager-padding-vertical) - (2 * $pager-padding-horizontal);
			padding: $pager-padding-vertical $pager-padding-horizontal;
			line-height: $pager-line-height;
			text-decoration: none;
			box-sizing:content-box; // makes element robust & immune
			text-align: center;
			@if variable-exists(pager-border-radius) {
				border-radius: $pager-border-radius;// customies
			}
			@if variable-exists(pager-box-shadow) {
				box-shadow: $pager-box-shadow;
			}
			@include transition(0.2s);
		}
		// Links style
		a {
			background: $pager-background;
			color: $pager-color;
			&:hover,
			&:focus { // hover - focus states
				background-color: $pager-hover-background;
				color: $pager-hover-color;
				@if variable-exists(pager-hover-box-shadow) {
					box-shadow: $pager-hover-box-shadow;
				}
				@if variable-exists(pager-hover-scale) {
					transform: $pager-hover-scale;
				}
			}
			&:active {
				background-color: $pager-onclick-background;
				color: $pager-onclick-color;
				@if variable-exists(pager-active-box-shadow) {
					box-shadow: $pager-active-box-shadow;
				}
				@if variable-exists(pager-active-scale) {
					transform: $pager-active-scale;
				}
			}
		}
		&.pager-current,
		&.is-active > a {
			background: $pager-current-background;
			color: $pager-current-color;
		}
	}
}

// Remove first and last buttons on articles list
.articles-list-view {
	.pager__item--last,
	.pager__item--first {
		display: none;
	}
}
