/* --- Drupal Cookie Object --- */

// Standalone modular Cookie Law Popup...
// To be used with eu_cookie_compliance module


// Variables
$popup-background:                        $base-800;
$popup-shadow:                            $shadow;

// Container styling
.sliding-popup-bottom {
  background: $popup-background;
  box-shadow: $popup-shadow;
  position: fixed;
  right: 0;
  padding: 15px 30px;
  transition: all 0.5s ease-out;
  z-index: 3;    //to be above panel in case studies 
}

// Buttons Styling
#popup-buttons {
  button {
    @extend .uk-button;
    &.agree-button {
      //@extend .uk-button-large;
      width: 100%;
    }
    &.find-more-button {
      display: none;
    }
  }
}
