// system status messages to be fixed on screen

div[role="contentinfo"] {
  padding: 20px 30px;
  max-width: 450px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: $base-800;
  color: $base-400;
  border-width: 1px 1px 0 0;
  border-color:$base-200;
  border-style: solid;
  &[aria-label="Status message"] ul {
    list-style-type: none !important;
  }
}
