/* --- Drupal Form Object --- */

// This is custom styles for default drupal form components
// Drupal is very stubborn with some styles there...

// Variables


// General Form Styling - Material Style
form:not(.uk-form) { // This grabs all drupal forms but excludes uikit forms
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  .form-item {
    &.js-form-type-textfield,
    &.js-form-type-textarea,
    &.js-form-type-password,
    &.js-form-type-email, /* partially working (the multiple) */
    &.js-form-type-machine-name,
    &.js-form-type-entity-autocomplete, /* partially working */
    &.js-form-type-url,
    &.js-form-type-tel,
    &.js-form-type-search,
    &.js-form-type-number, /* partially working */
    &.js-form-type-webform-email-multiple,
    &.js-form-type-webform-autocomplete, /* partially working (the multiple) */
    &.js-form-type-checkbox,
    &.js-form-type-managed-file,
    &.js-form-type-select,
    &.js-form-type-date {
    position: relative;
    width: 100%;
    display: block;
    // form without description is ugly with min-height. temporarily disabled.
    //min-height: 7em; // sketo height breaks select box so we're changing it to min-height
    margin-bottom: 24px;
    input,
    textarea,
    .image-widget {
      position: relative;
      width: 100%;
      left: 0;
      line-height: 2em;
      box-sizing: border-box;
      background: $base-300;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $base-200;
      z-index: 0;
      padding: 20px 16px 6px;
      border-radius: 4px 4px 0 0;
      color: $body-text;
      font-size: 1rem;
      &:focus {
        background: lighten($base-300, 5%);
        outline: none;
        border-width: 0 0 2px 0;
        border-style: inset;
        border-color: $primary-400;
        caret-color: $primary-400;
      }
      &.form-submit{
        background: $base-500;
        border: none;
        border-radius: 100px;
        padding: 10px;
      }
    }
    textarea {
      line-height: 1.2;
      font-size: 0.9rem;
    }
    .image-upload-grid {
      margin-top: 20px;
      .filename span {
        display: block;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.file-size {
          font-size:0.75rem;
          line-height: 1.5;
        }
      }
    }
    label {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      padding: 20px 16px;
      transform-origin: left top;
      transition: all 150ms cubic-bezier(0.4,0,0.2,1);
      line-height: 1.15rem;
      font-size: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: text;
      overflow: hidden;
      will-change: transform;
    }
    input[type="file"] { // created for image upload in mind
      position:absolute;
      left: 0;
      width: 100%;
      opacity: 0;
      line-height: 5em;
      top: 0;
      z-index: 2;
    }
    // Fix label only if label is below input in html form display
    input:focus + label,
    label.float-above {
      transform: translateY(-50%) scale(0.75);
      cursor: auto;
      top: 22px;
      left: 4px;
    }
  }
    // Dropdown specific
    &.js-form-type-select {
      label {
        transform: translateY(-50%) scale(0.75);
        cursor: auto;
        top: 22px;
        left: 4px;
      }
      select {
        position: relative;
        width: 100%;
        left: 0;
        line-height: 2em;
        box-sizing: border-box;
        background: $base-300;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $base-200;
        z-index: 0;
        padding: 28px 16px 8px;
        border-radius: 4px 4px 0 0;
        color: $body-text;
        font-size: 1rem;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-repeat: no-repeat;
        background-position: 98% center;
        background-size: 25px;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0 c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878 l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z' fill='%23999999'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
        option {
          line-height: 2em;
        }
      }
    }
    // Custom options for single checkbox
    &.js-form-type-checkbox,
    &.js-webform-type-radios:not(.js-webform-buttons) .js-form-type-radio,
    &.js-webform-type-webform-radios-other:not(.js-webform-buttons) .js-form-type-radio {
      position: relative;
      min-height: 3em;
      margin-right: 40px;
      .custom-checkbox {
        position: absolute;
        width: 16px;
        height: 16px;
        margin: 12px;
        border: 2px solid;
        border-radius: 2px;
        z-index: -1;
        transition: 0.1s all;
        &:after {
          content: '\f00c';
          color: $primary-800;
          font-family: FontAwesome;
          display: inline-block;
          font-weight: normal;
          font-style: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          position: absolute;
          left: -25%;
          top: -50%;
          font-size: 2em;
          transform: scale(0);
        }
      }
      .custom-radio {
        position: absolute;
        width: 16px;
        height: 16px;
        margin: 12px;
        border: 2px solid;
        border-radius: 50%;
        z-index: -1;
        transition: 0.1s all;
        &:after {
          content: '\f111';
          color: $primary-400;
          font-family: FontAwesome;
          display: inline-block;
          font-weight: normal;
          font-style: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          position: absolute;
          left: 18%;
          top: 15%;
          font-size: 0.8em;
          transform: scale(0);
        }
      }
      input {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40px;
        height: 40px;
        margin: 4px;
        opacity: 0;
        ~ label,
        ~ label.float-above {
          position: relative;
          transform: none;
          cursor: auto;
          top: auto;
          left: 40px;
          padding: 0 4px;
          line-height: 3em;
        }
        &:checked + .custom-checkbox {
          transition: 0.1s background-color;
          background-color: $primary-400;
          &:after {
            transform: scale(1);
            transition: 0.2s all;
          }
        }
        &:checked + .custom-radio {
          transition: 0.1s border-color;
          border-color: $primary-400;
          &:after {
            transform: scale(1);
            transition: 0.2s all;
          }
        }
      }
    }
    // dont apply classic margins if form item has multiple checkboxes
    &.js-webform-type-checkboxes,
    &.js-webform-type-webform-checkboxes-other {
      margin-bottom: 24px;
      .js-form-type-checkbox {
        margin-bottom: 0;
      }
    }

    // Form buttons styling (webform only)
    // General override for buttons
    .webform-options-display-side-by-side {
      overflow: auto;
      margin-left: 6px;
      > div {
        margin: 0;
        float: left;
      }
    }
    .js-webform-buttons-other-input {
      clear:both;
    }
    &.js-webform-buttons {
      margin-bottom: 24px;
      &.webform-composite-hidden-title {
        margin-top: inherit;
      }
      .js-webform-webform-buttons input {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      .ui-button,
      .js-webform-webform-buttons > label,
      .js-webform-webform-buttons > div > label {
        background: transparent;
        box-shadow: none;
        padding: 12px 24px;
        border: 2px solid $base-200;
        color: $base-200;
        border-radius: 4px;
        transition: 0.2s all;
        margin: 0.5em 1em 0 0;
        display: inline-block;
        position: relative;
        line-height: normal;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        user-select: none;
        overflow: visible;
        &:hover {
          transition: 0.4s all;
          border-color: $primary-300;
          color: $primary-300;
        }
      }
      .ui-button.ui-state-active,
      input:checked + label,
      .js-webform-webform-buttons > div > input:checked ~ label {
        background: $primary-400;
        border-color: $primary-400;
        color: $base-800;
        &:after {
          content: '\f05d';
          color: $primary-400;
          font-family: FontAwesome;
          display: inline-block;
          font-weight: normal;
          font-style: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size:1.4rem;
          position: absolute;
          top:-10px;
          right:-10px;
          background: $base-500;
          border-radius: 50%;
          width: 21px;
          height: 21px;
          border: 2px solid $base-500;
        }
      }
    }

    // Hack for other type of forms and the "other" field
    [name$='[other]'] {
      padding: 6px 16px !important;
      margin-top: 6px;
    }


    .description {
      margin: 6px 16px;
      text-align: left;
      font-size: $text-small-font-size;
    }
  }

  // Mobile specific styling
  @media screen and (max-width: $breakpoint-medium-max) {
    .webform-options-display-side-by-side > div {
      margin-bottom: 1em;
    }
  }
}

// Override default browser behavior
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px $base-300 inset !important;
  -webkit-text-fill-color: $body-text;
}

// Submit button container styling (inspired by contact form)
[id^="edit-actions"] {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

// Submit button styling
.button.form-submit {
  @extend .uk-button;
  // Hide on autosubmit with better exposed filters
  &.js-hide {
    display: none;
  }
}

// Center google recaptcha and resize on mobile
.captcha {
  margin-left: auto;
  margin-right: auto;
  @include mobile() {
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    padding-left: 0;
    margin-left: -15px;
  }
}

// Specific styles for newsletter form
.newsletter-form {
  input {
    width: 100%;
  }
  .form-actions {
    display: none;
  }
}

// Hide non important input fields on front end user edit and registration
form.user-form [class^="field--type"],
form.user-form details {
  display: none;
}

// Color the password strength meter with our colors
.password-strength {
  &__meter {
    height: 5px;
    margin-top: 0;
    background-color: $base-200;
  }
  &__indicator {
    background-color: $primary-700;
  }
  &__title {
    font-size: 11px;
    margin: 6px 16px;
  }
}
div.password-confirm {
  font-size: 11px;
  margin: 6px 16px;
  > .ok {
    color: $primary-500;
  }
  > .error {
    color: $secondary-400;
  }
}
.password-suggestions ul li {
  color: $secondary-400;
}
