/**
 * Transparency mixin
 * ------------------
 *
 * Usage:
 * .class {
 *  	background: black(0.15);
 *  	color: white(0.90);
 *    }
 */
@function black($opacity){
  @return rgba(0,0,0,$opacity)
};
@function white($opacity){
  @return rgba(255,255,255,$opacity)
};
/*___*/

/**
 * Generic transition to use everywhere you need smoothness
 */
@mixin transition($duration) {
  transition: all $duration ease-in-out;
}
/*____*/

/**
 * Custom vendor mixin - add browser vendors everywhere
 */
@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}
/*___*/

/**
 * UIKIT contrast bug fixing
 * This throws some deprecation warnings in compass
 */
@function fade($color,$opacity){
    @return rgba($color,($opacity/100));
};
/*___*/

/**
 * Custom Flex Mixins vendor prefixes -- use flex everywhere! *
 * ----------------------------------------------------------
 *
 * Mixins List:
 * - flex()
 * - inline-flex()
 * - flex-vertical-align(top,middle,bottom)
 * - flex-horizontal-align(center,right,space-between,space-around)
 * - flex-wrap(wrap,nowrap,reverse)
 * - align-content(start,center,end,justify,space-around)
 * - flex-order($value)
 */
@mixin flex() {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  > * {
    -ms-flex-negative: 1; //fix for IE10
  }
}
@mixin inline-flex() {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  > * {
    -ms-flex-negative: 1; //fix for IE10
  }
}
@mixin flex-vertical-align($value) {
  @if $value == top {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  } @else if $value == middle {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } @else if $value == bottom {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
}
@mixin flex-horizontal-align($value) {
  @if $value == center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  } @else if $value == right {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  } @else if $value == space-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
@mixin flex-wrap($value) {
  @if $value == wrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  } @else if $value == nowrap {
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  } @else if $value == reverse {
    -ms-flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
}
@mixin align-content($value) {
  @if $value == start {
    -ms-flex-line-pack: start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  } @else if $value == center {
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
  } @else if $value == end {
    -ms-flex-line-pack: end;
    -webkit-align-content: flex-end;
    align-content: flex-end;
  } @else if $value == space-between {
    -ms-flex-line-pack: justify;
    -webkit-align-content: space-between;
    align-content: space-between;
  } @else if $value == space-around {
    -ms-flex-line-pack: distribute;
    -webkit-align-content: space-around;
    align-content: space-around;
  }
}
@mixin flex-order($value) {
  -ms-flex-order: $value;
  -webkit-order: $value;
  order: $value;
}
/*___*/


/*
 * Responsive media queries mixin
 * ------------------------------
 * This makes it very easy to embed media queries
 * inside your sass code...
 *
 * USAGE EXAMPLE:
 * -----------------
 * p {
 *   font-size: 16px;
 *     @include tablet {
 *      font-size: 18px;
 *    }
 * }
 *
 */

// Mobile, Phablet and tablet portrait
@mixin mobile-XL {
  @media screen and (max-width: $breakpoint-medium-max) {
    @content;
  }
}
// Only Tablet portrait and landscape
@mixin tablet {
  @media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large-max) {
    @content;
  }
}
// Only mobiles (small mobiles up to 767)
@mixin mobile {
  @media screen and (max-width: $breakpoint-small-max) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $breakpoint-xlarge) {
    @content;
  }
}
// large desktops (larger than laptops (1366x768))
@mixin desktop-XL {
  @media screen and (min-width: 1367px) {
    @content;
  }
}
// screens with more than full hd resolution
@mixin desktop-XXL {
  @media screen and (min-width: 1921px) {
    @content;
  }
}
/*___*/
