{#
/**
 * @file
 * Theme override to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 */
#}

{# Check if image is linked to itself and not to a node. Then apply uikit lightbox effect. #}
{% set lightbox = '/sites/default/files/' in url|render ? "data-uk-lightbox" : '' %}

{% if url %}
  {# This prints the linked image. If its linked to itself then use lightbox effect. #}
  <a href="{{ url }}" {{ lightbox }}>{{ image }}</a>
{% else %}
  {{ image }}
{% endif %}
