{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="layout-container">

  {% block toolbar %}
    {% if page.toolbar %}
      <header role="banner">
        <!-- Toolbar section -->
        {{ page.toolbar }}
      </header>
    {% endif %}
  {% endblock toolbar %}

  {% block menu %}
    {% if page.menu %}
      <!-- Main Menu Navigation -->
      <section class="navbar" id="navbar_and_offcanvas_menu">
        {{ page.menu }}
      </section>
    {% endif %}
  {% endblock menu %}

  {% block hero %}
    {% if page.hero %}
      <section id="hero-section">
        <!-- Hero section -->
        {{ page.hero }}
      </section>
    {% endif %}
  {% endblock hero %}

  {% block top_a %}
    {% if page.top_a %}
      <!-- Top A Section -->
      {{ page.top_a }}
    {% endif %}
  {% endblock top_a %}

  {% block top_b %}
    {% if page.top_b %}
      <!-- Top B Section -->
      {{ page.top_b }}
    {% endif %}
  {% endblock top_b %}

  {% block top_c %}
    {% if page.top_c %}
      <!-- Top C Section -->
      {{ page.top_c }}
    {% endif %}
  {% endblock top_c %}


  {% block magiclayout %}
    {#
      This will set the container class variable.
      Change here your default template container by changing
      the default-container value.
      Then you can use an extend twig template to change the
      container variable using the example below.

      Usage (on extend page twig template):
      {% set no_container = true %}
      value can be true or false.
    #}
    {% if no_container == TRUE %}
        {% set containerClass = 'no-container' %}
    {% elseif no_container is not defined %}
        {% set containerClass = 'uk-container uk-container-center' %} {# setting default containerized #}
    {% elseif no_container == FALSE %}
        {% set containerClass = 'uk-container uk-container-center' %}
    {% endif %}

    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# Comes from core, from a link that's in html.html.twig #}
      <div class="magic-layout">
        {# Print the container class based on above preferences #}
        <div class="{{ containerClass }}">

          {#
            Create a dynamic sidebar layout based on sidebar blocks placed in Drupal backend.
            You can change the grid spacing by changing the classes below.
          #}
          <div class="{% if page.sidebar_left or page.sidebar_right %}uk-grid{% else %}nogrid{% endif %}">
            {% if page.sidebar_left %}
              {# Set grid sizing depending on the number of sidebars present in drupal blocks #}
              <div class="{% if page.sidebar_right %}uk-width-medium-1-6{% else %}uk-width-medium-2-6{% endif %}">
                <div>
                  {{ page.sidebar_left }}
                </div>
              </div>
            {% endif %}
            {# Check for sidebars and print main page content #}
            <div class="{% if page.sidebar_left or page.sidebar_right %}uk-width-medium-4-6{% else %}uk-width-1-1{% endif %}">
              <div>
                <div class="layout-content">
                  {{ page.content }}
                </div>
              </div>
            </div>
            {# Check and print right sidebar if present. #}
            {% if page.sidebar_right %}
              <div class="{% if page.sidebar_left %}uk-width-medium-1-6{% else %}uk-width-medium-2-6{% endif %}">
                <div>
                  {{ page.sidebar_right }}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </main>
  {% endblock magiclayout %}

  {% block bottom_a %}
    {% if page.bottom_a %}
      <!-- Bottom A Section -->
      {{ page.bottom_a }}
    {% endif %}
  {% endblock bottom_a %}

  {% block bottom_b %}
    {% if page.bottom_b %}
      <!-- Bottom B Section -->
      {{ page.bottom_b }}
    {% endif %}
  {% endblock bottom_b %}

  {% block bottom_c %}
    {% if page.bottom_c %}
      <!-- Bottom C Section -->
      {{ page.bottom_c }}
    {% endif %}
  {% endblock bottom_c %}

  {% block footer %}
    {% if page.footer %}
      <footer role="contentinfo">
        {{ page.footer }}
      </footer>
    {% endif %}
  {% endblock footer %}

</div>{# /.layout-container #}
