{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% if content %}
  <nav class="uk-navbar">
    {# Desktop Navigation #}
    <div class="uk-container uk-container-center uk-visible-large">
        <div class="uk-grid uk-grid-small uk-flex-middle" id="">
          {# render grid space only if branding exists  #}
          {% if elements.uikit_drupal_branding %}
            <div class="uk-width-2-10">
                {# Put sitebranding block on menu region #}
                <div class="uk-width-1-2 uk-container-center nav-logo">
                    {{ elements.uikit_drupal_branding }}
                </div>
            </div>
          {% endif %}
          {# make a grid if branding exists or expand to full width if there is no branding block #}
          <div class="{% if elements.uikit_drupal_branding %}uk-width-8-10{% else %}uk-width-1-1{% endif %}">
              {# Change this element to the main menu block alias #}
              {{ elements.uikit_drupal_main_menu }}
          </div>
        </div>
    </div>

    {# Mobile Navigation #}
    <div class="uk-hidden-large">
      <div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            {# Change this element to the mobile nav block alias or do it with js #}
            {{ elements.uikit_drupal_main_menu }}
        </div>
      </div>
      <a class="uk-navbar-toggle uk-visible-small uk-vertical-align-middle" data-uk-offcanvas="" href="#offcanvas"></a>
      <div class="uk-navbar-content uk-navbar-center">
          {# Add the mobile logo #}
          {{ elements.sitebranding }}
      </div>
    </div>
  </nav>
{% endif %}
