{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  {# Add a block for content, with the secondary color and IF its too dark, lighten the fonts with .uk-contrast #}
  <div{{ attributes.addClass('uk-block uk-block-secondary uk-contrast') }}>
    <div class="uk-container uk-container-center">
      {# This will output any block added to footer section ({{ content }}) as a 4 column grid #}
      <div class="uk-grid uk-grid-width-xlarge-1-4 uk-grid-width-medium-1-2">
        {{ content }}
      </div>
    </div>
  </div>
{% endif %}
